.highlight.highlight {
  font-family: "Jacquard 12", system-ui;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
  color: var(--color-accent);
  margin: 2rem 0;
  clear: both;
  position: relative;
}

.highlight::before,
.highlight::after {
  content: "";
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  filter: var(--ornament-filter);
}

.highlight::before {
  background-image: url("/img/top-decoration.png");
  background-size: 88px 40px;
  height: 40px;
  margin-bottom: -0.25em;
}

.highlight::after {
  background-image: url("/img/bottom-decoration.png");
  background-size: 192px 20px;
  height: 20px;
  margin-top: -0.25em
}
