.highlight {
  font-family: "Jacquard 12", system-ui !important;
  font-size: 3.5em !important;
  font-weight: 400;
  text-align: center;
  color: var(--color-accent) !important;
  margin: 2rem 0;
  clear: both;
  position: relative;
}

.highlight::before,
.highlight::after {
  content: "";
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  filter: brightness(0) saturate(100%) invert(56%) sepia(60%) saturate(834%)
    hue-rotate(316deg) brightness(99%) contrast(78%);
}

.highlight::before {
  background-image: url("/img/top-decoration.png");
  background-size: 88px 40px;
  height: 40px;
  margin-bottom: -0.25em;
}

.highlight::after {
  background-image: url("/img/bottom-decoration.png");
  background-size: 192px 20px;
  height: 20px;
  margin-top: -0.25em
}

:global([data-theme="dark"]) .highlight::before,
:global([data-theme="dark"]) .highlight::after {
  filter: brightness(0) saturate(100%) invert(20%) sepia(28%) saturate(3989%)
    hue-rotate(338deg) brightness(93%) contrast(82%);
}
